*{
    margin : 0;
    padding: 0;
}

body{
    
    height: fit-content;
    position: relative;
    overflow-x:hidden;
}

.background{
    background-color: var(--white-color);
    background-image:  radial-gradient(var(--green-color) 2px, transparent 2px), radial-gradient(var(--green-color) 2px, var(--white-color) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    opacity: 0.2;
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.menu-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 12.5px 0;
    z-index: 100;
}
.menu-header > img{   
    width: 11%;
    height: auto;
    margin-left: 11%;
    filter: invert(1);
}
.menu-header-container > ul > li > a:hover {
    text-decoration: underline;
}

.menu-header-container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    min-width: clamp(500px, 5vw, 800px);
    width: 60%;
    margin-right: clamp(30px, 2%, 80px);
}

.bouton{
    all: unset;
    background-color: var(--red-color);
    font-family: 'ClashDisplay-Semibold';
    padding: 7.5px 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    width: fit-content;
    border: solid 1px var(--red-color);
    transition: .3s ease;
}
.bouton:hover{
    background-color: transparent;
    color: var(--red-color);
    border:solid 1px var(--red-color);
    cursor: pointer;
}

.arrow_bottom {
     cursor: pointer;
    all: unset;
    background-color: var(--red-color);
    width: 38px;
    height: 38px;
    border-radius: 100px;
    border: solid 1px var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.arrow_bottom>a>img{
    width: 28px;
    height: 28px;
}

.arrow_bottom-center {
    cursor: pointer;
    all: unset;
    background-color: var(--red-color);
    width: 38px;
    height: 38px;
    border-radius: 100px;
    border: solid 1px var(--red-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    transition: 0.3s ease;
}

.arrow_bottom-center>a>img{
    width: 28px;
    height: 28px;
}

.arrow_bottom:hover {
    opacity: 0.7;
}

.menu-header-container-page{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    min-width: 70%;
    padding: 0;
}
.menu-header-container-page > li > a{
    text-decoration: none;
    font-family: 'ClashDisplay-Semibold';
    color: var(--white-color);
    font-size: clamp(10px, 1.3vw, 60px);
}
.translate-icon{
    width: 20px;
    height: 20px;
}
#mcn {
    width: clamp(100px, 10vw, 300px);
    min-height: clamp(80px, 10%, 300px);
}

a {
    color: var(--green-color);
}


@keyframes navbar-bg {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: var(--black-color);
    }
}

@keyframes navbar-bg-transparent {
    0%{
        background-color: var(--black-color);
    }
    100%{
        background-color: transparent;
    }
}


@media screen and (max-width:800px) {
    #mcn{
        filter: invert(0);
    }
}