*{
    margin : 0;
    padding: 0;
}

body{
    
    height: fit-content;
    position: relative;
    overflow-x:hidden;
}

.background{
    background-color: var(--white-color);
    background-image:  radial-gradient(var(--green-color) 2px, transparent 2px), radial-gradient(var(--green-color) 2px, var(--white-color) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    opacity: 0.2;
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.menu-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 12.5px 0;
    z-index: 100;
}
.menu-header > img{   
    width: 11%;
    height: auto;
    margin-left: 11%;
    filter: invert(1);
}

.menu-header-container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 100px;
}

.bouton{
    all: unset;
    background-color: var(--red-color);
    font-family: 'ClashDisplay-Semibold';
    padding: 7.5px 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    width: fit-content;
    border: solid 1px var(--red-color);
}
.bouton:hover{
    background-color: transparent;
    color: var(--red-color);
    border:solid 1px var(--red-color);
    cursor: pointer;
}



.menu-header-container-page{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0;
}
.menu-header-container-page > li > a{
    text-decoration: none;
    font-family: 'ClashDisplay-Semibold';
    color: var(--white-color);
}
.translate-icon{
    width: 20px;
    height: 20px;
}


@keyframes navbar-bg {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: var(--black-color);
    }
}

@keyframes navbar-bg-transparent {
    0%{
        background-color: var(--black-color);
    }
    100%{
        background-color: transparent;
    }
}

#mcn-l{
    filter: invert(0);
}