body{
    margin : 0;
    padding: 0;
    position: relative;
    overflow-x:hidden;
}

.background{
    background-color: var(--white-color);
    background-image:  radial-gradient(var(--green-color) 2px, transparent 2px), radial-gradient(var(--green-color) 2px, var(--white-color) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    opacity: 0.2;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.menu-header{
    background-color: var(--black-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 12.5px 0;
    z-index: 100;
}
.menu-header > img{
    width: 175px;   
    margin-left: 175px;
}
.menu-header-container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 100px;
}

.bouton{
    all: unset;
    background-color: var(--red-color);
    font-family: 'ClashDisplay-Semibold';
    padding: 7.5px 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    width: fit-content;
}
.menu-header-page{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0;
}
.menu-header-page > li{
    font-family: 'ClashDisplay-Semibold';
    color: var(--white-color);

}
.translate-icon{
    width: 20px;
    height: 20px;
    
}