.card{
    background-color: var(--white-color);
    filter: drop-shadow(0px 10px 25px rgba(0,0,0,0.25));
    width: 25%;
    border-radius: 15px;
    height: 100%;
}

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 42.5%;
    border-radius: 15px;  
}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 50%;
    width: auto;
}

.card-text {
    color: var(--black-color);  
    height: 80%;
}

.card-text > h1{
    font-family: "ClashDisplay-Semibold";
    font-size: 2rem;
    margin: 0;
}

.card-text > p{
    font-family: "Archivo", sans-serif;
    font-size: 1.15rem;
    margin-top: 9%;
}

.card-bottom > .bouton{
    margin-top: auto;
}



@media screen and (max-width: 768px) {
    
    .card{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
    }

    .img{
        height: auto;
        width: 50%;
        border-radius: 30px; 
    }

    .card-bottom{
        padding: 0;
        width: 100%;
    }

    .card-text{
        height: 100%;
    }
    .card-text > h1{
        font-size: 1.5rem;
    }
    .card-text > p{
        margin: 0;
        font-size: 0.8rem;
        width: 100%;
    }
    .card-bottom > .bouton{
        display: none;
    }
    
} 