.footer{
    margin-top: 100px;
    padding-bottom: 10px;
}

.footer > hr{
    width: 50%;
    height: 2px;
    background-color: var(--black-color);
    border-radius: 50px;
    margin: auto;

}

.logo_footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.logo_footer span{
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.gustave{
    filter: grayscale(1);
}

.rights{
    display: flex;
    justify-content: center;
}
.rights > p{
    font-family:"Archivo", sans-serif;
    font-weight: bold;
    color: var(--black-color);
    text-align: center;
    margin-top: 20px;
    font-size: 0.675vw;
    width: fit-content;
}

@media  screen and (max-width: 1080px){
    
    .logo_footer span a img{
        width: 7vw;
    }
    .rights > p{
        font-size: 2vw;
    }
}

