@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.menu-header .menu-header-container .menu-header-container-page li a {
    color: var(--black-color);
    font-family: 'ClashDisplay-Bold';

}
.center-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 1rem;
    gap: 5rem;
}

#page-title {
    font: clamp(25px, 2.5vw, 100px) 'ClashDisplay-Semibold';
}
.card-container {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.translate-icon {
    cursor: pointer;
    filter: invert(1);
}

@media screen and (max-width:800px) {
    .card-container {
        flex-direction: column;
        width: 60%;
    }
    .menu-header {
        background-color: var(--black-color);
    }
    .translate-icon  {
        filter: invert(0);
    }
    .menu-header-container-page {
        z-index: 100;
    }
    .menu-header .menu-header-container .menu-header-container-page li a {
        z-index: 1000000;
        color: white;
    }
    .menu-icon  {
        z-index: 1000000;
    }
}

