@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf');
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


  