@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf');
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf');
}

