@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf');
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('font/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf');
}

body{
    margin : 0;
    padding: 0;
    position: relative;
    overflow-x:hidden;
}

.background{
    background-color: #f7f7f7;
    background-image:  radial-gradient(#4F7942 2px, transparent 2px), radial-gradient(#4F7942 2px, #f7f7f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    opacity: 0.2;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.menu-header{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #f7f7f750;
    padding: 10px;
    width: 99%;
    z-index: 100;
}
.menu-header-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 80%;
}
.menu-header-container > img{
    filter: brightness(0%);
    width: 175px;   
}
.menu-header-container  > button{
    all: unset;
    background-color: #F94B27;
    font-family: 'ClashDisplay-Semibold';
    padding:10px 20px;
    border-radius: 10px;
    color: white;
}
.menu-header-page{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.menu-header-page > li{
    background-color: #e4e4e467;
    padding: 7.5px 15px;
    border-radius: 50px;
    font-family: 'ClashDisplay-Semibold';
    border: solid 2px black;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 100px;
}
img{
    width: 75%;
    border-radius: 50px;
}


