* {
    color: var(--black-color);
}

/*---------------------------------*/

.container-titre {
    position: relative;
    height: 80%;
    user-select: none;
}

.titre {
    position: absolute;
    top: 35%;
    left: 10%;
    font-family: "ClashDisplay-Semibold";
    font-size: 5vw;
    color: white;
    z-index: 1;
}

/*---------------------------------*/

.container {
    margin: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

.container-reverse {
    margin: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 6px;
}

.text>h2 {
    font-size: 2.375rem;
    font-family: "ClashDisplay-Semibold";
    max-width: 60rem;
}

.text>p {
    font-family: "Archivo", sans-serif;
    font-size: clamp(15px, 1.2vw, 25px);
    max-width: 50rem;
    line-height: 180%;
}

.illu {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    width: 22.375rem;
    height: 29.688rem;
    filter: drop-shadow(0px 10px 50px #a3a3a3);
}

.illu > img {
    width: 100%;
    height: 100%;
    display: block;
    object-position: center center;
    object-fit: cover;
}

.illustration {
    position: relative;
    border-radius: 25px;
    filter: drop-shadow(0px 10px 50px #a3a3a3);
}

.illustration > img {
    width: 100%;
    height: 100%;
    display: block;
    object-position: center center;
    object-fit: contain;
    margin: 0;
    border-radius: 25px;
}